<div
  class="gap-x-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center mt-2"
>
  <ul
    class="m-10 py-32 px-10 border-primary border-2 rounded-lg shadow-lg bg-gray-light transition-transform hover:scale-105 flex flex-col justify-center items-center"
    *ngFor="let items of CardItems">
    
      <li class="fa-5x text-primary pb-10" [ngClass]="items.icon"></li>
      <li class="text-5xl pb-5 font-semibold">{{ items.title }}</li>
      <li class="text-2xl text-text-dark">{{ items.discription }}</li>
  </ul>
</div>
