<table class="mt-6 table-auto w-full border-collapse border border-border-gray text-2xl">
    <thead class="bg-primary-dark h-28 text-white font-semibold" >
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody class="border w-full">
        <tr *ngFor="let item of table"  class="odd:bg-border-gray even:bg-gray-light h-24 text-2xl border-white border text-center">
            <td>{{item.event}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date}}</td>
        </tr>
    </tbody>
</table>
