<div class="h-10 bg-cyan-700 flex items-center justify-between text-white fa-2x ">
  <ul class="hover:scale-105 cursor-pointer" *ngFor="let i of navItems">
    <li>{{i.item}}</li>
    <li [ngClass]="i.icon"></li>
  </ul>
</div>


<div class="h-20 flex justify-end items-center border-b-2 border-solid border-gray-900 overflow-hidden">
  <div class="flex gap-x-4 items-center justify-end">
    <ul class="border-gray-700 border-r md:text-2xl px-1 md:px-3 cursor-pointer p-2 hover:-translate-x-2 transition-all duration-300"
      *ngFor="let i of headerLinkItems">
      <li [routerLink]="i.link" [routerLinkActive]="'text-red-600'">{{ i.title }}</li>
    </ul>
  </div>


  <div>
    <button class="w-28 h-14 text-white rounded bg-slate-700 border-solid border
    border-white mx-2 md:mx-4 cursor-pointer transition-transform hover:scale-105 duration-500">
    Buy now </button>
  </div>
  

  <div class="flex fa-2x  text-gray-600">
<ul class="m-1 cursor-pointer hover:scale-105" *ngFor="let item of bar">
  <li [ngClass]="item.barIcon"></li>
</ul>
</div>
