<div class="h-[25px] bg-cyan-700 flex items-center justify-between ">
  <ul class="flex items-center justify-center text-white">
    <li class="px-4"><a href=""><i class="fa fa-phone"> +90 912 345 6789</i>
    </a></li>
    <li><a href=""><i class="fa fa-envelope-o"> email </i>
    </a></li>
  </ul>

  <ul class="flex items-center justify-center text-white">
    <li class="px-1"><a href=""><i class="fa fa-linkedin-square"></i>
    </a></li>
    <li class="px-1"><a href=""><i class="fa fa-youtube"></i>
    </a></li>
    <li class="px-1"><a href=""><i class="fa fa-twitter-square"></i>
    </a></li>
    <li class="px-1"><a href=""><i class="fa fa-facebook-square"></i>
    </a></li>
  </ul>
</div>
<div class="h-20 flex justify-end items-center border-b-2 border-solid border-gray-900 overflow-hidden">
  <div class="flex items-center justify-end">
    <a class="border-gray-700 border-r md:text-2xl px-1 md:px-3 " href="#">HOME</a>
    <a class="border-gray-700 border-r md:text-2xl px-1 md:px-3 " [routerLink]="'/aboutus'">ABOUT US</a>
    <a class="border-gray-700 border-r md:text-2xl px-1 md:px-3 " [routerLink]="'/our-services'">OUR SERVICES</a>
    <a class="border-gray-700 border-r md:text-2xl px-1 md:px-3 " [routerLink]="'/contact-us'">CONTACT US</a>
  </div>
  <div>
    <button class="w-28 h-14 text-white rounded bg-slate-700 border-solid border border-white mx-2 md:mx-4 cursor-pointer hover:bg-cyan-400">Buy now</button>
  </div>
  <div >
    <i class="fa fa-search px-3 text-gray-600 fa-2x " > </i>
    <i class="fa fa-bars px-3  text-gray-600 fa-2x "> </i>
  </div>
