<div class="fixed top-28 left-0 w-96 h-[91vh] bg-cyan-700  flex flex-col justify-between py-12 z-40">


  <svg width="220" height="100" viewBox="-30 0 300 100" fill="none">
    <g>
      <rect x="10" y="35" width="30" height="30" fill="#f1f5f9" />
      <polygon points="30,20 50,20 30,50" fill="#1F2937" />
      <polygon points="50,50 30,50 50,80" fill="#1F2937" />
    </g>
    <text x="70" y="50" font-family="Poppins, sans-serif" font-size="32" fill="#f1f5f9" font-weight="700">PERSONAL</text>
    <text x="70" y="75" font-family="Poppins, sans-serif" font-size="14" fill="#1F2937" letter-spacing="2">
      PERSONAL WEBSITE
    </text>
  </svg>
  
    <ul>
      <li *ngFor="let i of sideBarItems">
        <a [routerLink]="i.link" class="flex justify-start items-center text-2xl text-white rounded-lg m-2 px-8 py-6 cursor-pointer hover:bg-cyan-950 hover:border hover:border-white duration-100">
          <i class="{{ i.logo }} px-3"></i>
          <span>{{ i.item }}</span>
        </a>
      </li>
    </ul>
  
    <a [routerLink]="'/home'" 
      class="h-16 w-52 m-10 rounded-lg border bg-cyan-950  text-white text-2xl hover:scale-105 hover:bg-cyan-900 duration-300 flex items-center justify-center">
      LOG OUT</a>
  </div>
  