<div class="fixed top-28 left-0 w-96 h-[91vh] bg-cyan-700  flex flex-col justify-between py-12 z-40">


    <p class="text-5xl text-white text-center m-10">logo</p>
  
    <ul>
      <li *ngFor="let i of sideBarItems">
        <a [routerLink]="i.link" class="flex justify-start items-center text-2xl text-white rounded-lg m-2 px-8 py-6 cursor-pointer hover:bg-cyan-950 hover:border hover:border-white duration-100">
          <i class="{{ i.logo }} px-3"></i>
          <span>{{ i.item }}</span>
        </a>
      </li>
    </ul>
  
    <a [routerLink]="'/home'" 
      class="h-16 w-52 m-10 rounded-lg border bg-cyan-950  text-white text-2xl hover:scale-105 hover:bg-cyan-900 duration-300 flex items-center justify-center">
      LOG OUT</a>
  </div>