<div class="bg-primary py-10 md:py-20 px-10 md:px-16 border-x-text-dark border rounded-2xl w-[30rem] h-[40rem] md:w-[35rem] md:h-[40rem] shadow-xl lg:w-[45rem] lg:h-[50rem]">

<p class="pt-4 px-4 text-4xl font-bold text-gray-light">Send us a message...</p>

<div class="mt-8 m-2 text-2xl text-gray-light">Name</div>
<input type="text" [(ngModel)]="name" class="border-gray-700 border rounded-lg h-12 w-3/4 p-2" />

<div class="m-2 text-2xl text-white">Gmail</div>
<input type="email" [(ngModel)]="email" class="border-text-dark border rounded-lg h-12 w-5/6 p-2" />

<div class="mt-6 m-2 text-2xl text-white">Message</div>
<textarea [(ngModel)]="message" class="w-5/6 border-text-dark border rounded-lg h-40 p-2" placeholder="Enter your message..."></textarea>
<app-button
(click)="submitForm()"
text="Submit"
backgroundColor="bg-cyan-950"
textColor="text-gray-light"></app-button>
</div>


