<div class=" bg-cyan-700  bg-[length:200px_100px] text-white flex justify-around items-center  h-[200px]">
    <a href=""><i class="fa fa-phone-square "></i></a>
   <div>
   <P class="text-[30px] font-bold">Do you have any question about our services?</P>
   <p> we provid free consultation so talk with us!</p>
   </div>
 
   <button class="w-[350px] h-[45px] bg-slate-200 text-[black] font-bold cursor-pointer border-solid border-[1px] border-gray-500 rounded-[25px] hover:bg-cyan-300 translate-x-1" >CALL FOR FREE CONSULTION  </button>
 </div>
