




<main >
  <h1 class="h">Making your ideas possible</h1>
  <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

</main>
  <div class="box">
    <div class="boxes">Consolting</div>
    <div class="boxes">Marketing</div>
    <div class="boxes">Resources</div>
    <div class="boxes">Finance</div>
  </div>





<div class="container2">
  <div>
   <p class="sub-title">GLOBAL PROFESIONAL NETWORK</p>
   <p class="title">World wide business</p>
   <p class="description">Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Doloribus nisi nihil labore beatae aliquid 
    cumque facere quis in molestiae, delectus dolorum magnam,
     voluptates saepe magni ipsam minima quidem omnis sequi fugiat 
     qui repellendus rerum rem architecto! Eligendi beatae quis 
     perferendis assumenda nisi reprehenderit nobis atque eum est 
     aut a facere debitis nostrum similique autem maiores molestiae,
      ipsam delectus quas. Perspiciatis explicabo excepturi numquam quia, 
      quis labore velit esse voluptate tempore sed veritatis sequi sit
       minima nesciunt animi cupiditate quidem id asperiores neque non 
       impedit doloribus? Quam optio natus a rerum?</p>
   </div>
      
  <img src="https://picsum.photos/500/350?random=9" alt="picture" />
</div>



<footer class="footer"> 
   <a href=""><i class="fa fa-phone-square"></i></a>
  <div>
  <P class="question">Do you have any question about our services?</P>
  <p>we provid free consultation so talk with us!</p>
  </div>
  
  <button>CALL FOR FREE CONSULTION  </button>
</footer>