.main {
  background-image: url("/img/StockSnap_QJJQT2IVRS.jpg");
  background-color: rgba(34, 150, 165, 0.312);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 65vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.main p {
  font-size: 25px;
  max-width: 600px;
}

 .box{
  margin: -80px 100px 0px 150px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color:white;
}  

.boxes{
  width:250px;
  height: 300px;
  border: solid 0.5px rgba(255, 255, 255, 0.116);
  background-color: rgb(34, 150, 165);
  box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content:center;
  align-items: center; 
  flex-direction: column;
}

.box .boxes i , h3{
  font-size: 25px;
}

.box .boxes p{
  font-size: 15px;
}





.container2{
  display:flex;
  align-items: center;
  height: 100vh;
  margin: 0px 30px 0px 30px;
}
.container2 .sub-title{
  margin-top: 0px;
  font-size: 15px;

}
.container2 .title{
  margin-top:0px;
  font-size: 40px;
  font-weight: bold;
 
}

.container2 .description{
  width: 90%;
  font-size: 20px;
}








.footer{
  background-color: rgb(34, 150, 165);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  color: aliceblue;
}

.footer a{
  font-size: 80px;
  color: white;
}

.footer .question{
  font-size: 38px;
  font-weight: bold;
}

.footer button{
  width: 350px;
  height:45px;
  background-color: aliceblue;
  border-radius: 30px;
  border: solid 2px rgb(214, 251, 255);
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;  
}

.footer button:hover{
  background-color: rgba(149, 243, 255, 0.678);
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  transition: 1s;
}
