<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
  rel="stylesheet"
/>
<div class="w-full flex flex-col items-center">
  <img src="#" alt="" />
  

  <div
    class="w-full bg-primary py-64 text-white flex justify-center items-center flex-col"
  >
    <h1 class="text-[40px] sm:text-[50px] md:text-[60px] lg:text-[70px]">
      Making your <br />
      ideas possible.
    </h1>
    <p class="text-[14px] sm:text-[18px] md:text-[22px] lg:text-[25px] py-4">
      Lorem ipsum dolor sit amet consectetur<br />
      adipisicing elit.
    </p>
  </div>
  <app-cards></app-cards>

  <div
    class="flex flex-col justify-around items-center h-[500px] px-16 sm:flex-col md:flex lg:flex-row my-28"
  >
    <div>
      <p
        class="text-[10px] sm:text-[12px] md:text-[14px] lg:text-[16px] mx-12 my-2"
      >
        GLOBAL PROFESIONAL NETWORK
      </p>
      <p
        class="text-[25px] sm:text-[30px] md:text-[35px] lg:text-[40px] font-bold mx-12"
      >
        World wide business
      </p>
      <p
        class="text-[13px] sm:text-[15px] md:text-[18px] lg:text-[20px] w-[80%] m-1"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nisi
        nihil labore beatae aliquid cumque facere quis in molestiae, delectus
        dolorum magnam, voluptates saepe magni ipsam minima quidem omnis sequi
        fugiat qui repellendus rerum rem architecto! Eligendi beatae quis
        perferendis assumenda nisi reprehenderit nobis atque eum est aut a
        facere debitis nostrum similique autem maiores molestiae, ipsam delectus
        quas. Perspiciatis explicabo excepturi numquam quia,
      </p>
    </div>

    <img
      src="https://picsum.photos/500/350?random=9"
      alt="picture"
      class="my-4"
    />
  </div>

</div>
