<div class="flex justify-center items-center h-32 md:h-36 lg:h-40 bg-primary">
  <h1 class="text-gray-light font-bold text-3xl md:text-4xl lg:text-5xl ">About us</h1>
</div>

<div class="flex flex-col justify-around items-center px-10 sm:flex-col lg:flex-row my-28">
  <img
    src="https://picsum.photos/id/2/500/350"
    alt="picture"
    class="h-[300px] w-[500px] border-solid border-primary"
  />
  <div class="m-8 md:m-20">
    <h2 class="text-5xl md:text-[4rem] text-primary m-8 font-semibold">What we do...</h2>
    <p class="text-3xl md:text-4xl mt-10 text-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      debitis. Quisquam illo minus voluptatum eveniet fugiat voluptatem suscipit
      laboriosam nisi.
    </p>
    <p class="text-2xl my-10 text-text-dark">
      Lorem ipsum dolor sit amet consectetu adipisicing elit. Consectetur,
      debitis. Corrupti culpa quod labore, nesciunt dicta ullam veniam
      perferendis debitis, molestiae non harum numquam uscipit iusto. Quisquam
      illo minus voluptatum eveniet fugiat voluptatem suscipit laboriosam nisi
      labore.
    </p>
  </div>
</div>
<div>
  <div class="flex flex-col justify-center items-center">
    <h3 class="text-5xl font-semibold text-primary">Our team</h3>
    <p class="text-3xl text-text-dark  text-center mx-20 my-10">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, mollitia
      ea autem provident <br>rem alias magni corrupti sequi saepe exercitationem!
      Vel adipisci excepturi voluptatum .
    </p>
  </div>

  <app-team-members></app-team-members>
</div>
