    <table class="table-auto w-full border-collapse border border-border-gray text-2xl mt-6">
        <thead class="bg-primary-dark h-28 text-gray-light font-semibold" >
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody class="border w-full">
            <tr *ngFor="let item of table"  class="h-24 text-2xl text-center odd:bg-border-gray even:bg-gray-light">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.message}}</td>
            </tr>
        </tbody>
    </table>
