<div>
  <div class="flex justify-center items-center h-32 md:h-36 lg:h-40 bg-primary">
    <h1 class="text-gray-light font-bold text-3xl md:text-4xl lg:text-5xl ">Our Services</h1>
  </div>

<div *ngFor="let items of Services" class="flex justify-around items-center m-4  w-full h-auto shadow-sm shadow-gray-light">
<div class=" w-[50rem] h-auto m-2 "><img [src]="items.picture"></div>
<div class="w-[50rem] h-auto m-4 flex flex-col justify-center items-center">
<div class="text-3xl md:text-4xl  text-center font-semibold text-primary my-4">{{items.title}}</div>
<div class="text-lg md:text:xl lg:text-2xl text-center text-text-dark m-4">{{items.description}}</div>
<button class= " text-xl md:text-2xl w-32 h-14 text-gray-light my-4 bg-primary md:w-44 md:h-16 rounded-full hover:bg-primary duration-300 hover:scale-105 ">{{items.button}}</button>


  