
<div class="flex h-[90vh] absolute">
  <div class="flex flex-col justify-around w-[86vh] mx-4">
      <!-- cards -->
    <div class="w-full flex gap-4 items-center justify-between">
      <div class="w-80 h-52 border border-black bg-white rounded-xl">
        <svg viewBox="0 0 55 65" width="400" height="350">
          <circle cx="0" cy="10" r="5" fill="white" stroke="black" stroke-width="0.2"/>
          <circle cx="0" cy="10" r="4.6" fill="white" stroke="black" stroke-width="0.2"/>
          <circle cx="0" cy="8" r="2" fill="white" stroke="black" stroke-width="0.2"/>
          <circle cx="0" cy="11" r="1" fill="white" stroke="black" stroke-width="0.2"/>
          <line x1="0" y1="0" x2="0" y2="5" stroke="black" stroke-width="0.2" />
          <line x1="0" y1="15" x2="0" y2="23.9" stroke="black" stroke-width="0.2" />
          <text x="8" y="5" fill="black"  font-size="2.5">Example</text>
          <text x="8" y="11" fill="black"  font-size="4">36.159</text>
          <text x="11" y="16" fill="black"  font-size="2.5">up</text>
          <line x1="9" y1="14" x2="9" y2="16.5" stroke="black" stroke-width="0.2" />
          <line x1="9" y1="14" x2="8" y2="15.5" stroke="black" stroke-width="0.2" />
          <line x1="9" y1="14" x2="10" y2="15.5" stroke="black" stroke-width="0.2" />
          <text x="8" y="20.5" fill="black"  font-size="3">Example</text>
        </svg>
      </div>
      <div class="w-80 h-52 border border-black bg-white rounded-xl">
        <svg viewBox="0 0 55 65" width="400" height="350">
          <circle cx="0" cy="10" r="5" fill="white" stroke="black" stroke-width="0.2"/>
          <circle cx="0" cy="10" r="4.6" fill="white" stroke="black" stroke-width="0.2"/>
          <ellipse cx="0" cy="9" rx="0.7" ry="1" fill="white" stroke="black" stroke-width="0.2"/>
          <ellipse cx="0" cy="11" rx="0.7" ry="1" fill="white" stroke="black" stroke-width="0.2"/>
          <line x1="0" y1="0" x2="0" y2="5" stroke="black" stroke-width="0.2" />
          <line x1="0" y1="15" x2="0" y2="23.9" stroke="black" stroke-width="0.2" />
          <text x="8" y="5" fill="black"  font-size="2.5">Example</text>
          <text x="8" y="11" fill="black"  font-size="4">30.104</text>
          <text x="11" y="16" fill="black"  font-size="2.5">up</text>
          <line x1="9" y1="14" x2="9" y2="16.5" stroke="black" stroke-width="0.2" />
          <line x1="9" y1="14" x2="8" y2="15.5" stroke="black" stroke-width="0.2" />
          <line x1="9" y1="14" x2="10" y2="15.5" stroke="black" stroke-width="0.2" />
          <text x="8" y="20.5" fill="black"  font-size="3">Example</text>
        </svg>
      </div>
      <div class="w-80 h-52 border border-white bg-cyan-700 rounded-xl">
        <svg viewBox="0 0 55 65" width="400" height="350">
          <circle cx="0" cy="10" r="5" fill="none" stroke="white" stroke-width="0.2"/>
          <circle cx="0" cy="10" r="4" fill="none" stroke="white" stroke-width="0.2"/>
          <line x1="0" y1="0" x2="0" y2="5" stroke="white" stroke-width="0.2" />
          <line x1="0" y1="15" x2="0" y2="23.9" stroke="white" stroke-width="0.2" />
          <text x="8" y="5" fill="white"  font-size="2.5">Example</text>
          <text x="8" y="11" fill="white"  font-size="4">6.159</text>
          <text x="11" y="16" fill="white"  font-size="2.5">up</text>
          <line x1="9" y1="14" x2="9" y2="16.5" stroke="white" stroke-width="0.2" />
          <line x1="9" y1="14" x2="8" y2="15.5" stroke="white" stroke-width="0.2" />
          <line x1="9" y1="14" x2="10" y2="15.5" stroke="white" stroke-width="0.2" />
          <text x="8" y="20.5" fill="white"  font-size="3">Example</text>
        </svg>
      </div>
    </div>

      <!-- chart -->
    <div class="h-[35vh] w-full border overflow-hidden bg-white rounded-xl"> 
      <svg class="w-full h-full" viewBox="10 150 700 300" >
        <line x1="60" y1="180" x2="60" y2="400" stroke="gray" stroke-width="0.7" />
        <line x1="60" y1="400" x2="670" y2="400" stroke="gray" stroke-width="0.7" />
        <line x1="60" y1="350" x2="670" y2="350" stroke="gray" stroke-width="0.5" />
        <line x1="60" y1="300" x2="670" y2="300" stroke="gray" stroke-width="0.5" />
        <line x1="60" y1="250" x2="670" y2="250" stroke="gray" stroke-width="0.5" />
        <line x1="60" y1="200" x2="670" y2="200" stroke="gray" stroke-width="0.5" />
        
        <path 
          d="M 65 350 
             Q 130 120 200 300 
             Q 250 360 300 300 
             Q 350 90 400 300 
             Q 450 370 480 300 
             Q 550 50 600 350 "
          fill="none"  
          stroke="blue"                   
          stroke-width="5"                
        />
      </svg>
    </div>
      <!-- calendar -->
    <div class="text-5xl" > 
      <div>January 2025</div>
      <div class="h-32 w-full flex items-center justify-between px-8 text-3xl">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-around">

      <!-- right circle chart -->
    <div class="w-[48vh] h-2/5 bg-white m-6 border-gray-300 rounded-xl">
      <div class="w-full h-[300px]">
        <p class="text-4xl font-semibold p-7 pb-10">Top product sele</p>
        <svg viewBox="0 0 30 65" width="400" height="350"> 
          <circle cx="6" cy="19" r="15" fill="white" stroke="gray" stroke-width="5"/>
          <circle cx="6" cy="19" r="15" fill="none" stroke="darkblue" stroke-width="5" 
                  [attr.stroke-dasharray]="circumference"
                  [attr.stroke-dashoffset]="dashOffset"
                  transform="rotate(-90 6 19)"/>
          <text x="0" y="21" fill="black"  font-size="7">95K</text>
          <text x="31" y="21" fill="black"  font-size="2.5">Vector</text>
          <line x1="27" y1="20" x2="29.5" y2="20" stroke="darkblue" stroke-width="2.5" />
          <text x="31" y="28" fill="black" font-size="2.5">Template</text>
          <line x1="27" y1="27" x2="29.5" y2="27" stroke="black" stroke-width="2.5"/>
          <text x="31" y="35" fill="black"  font-size="2.5">Presentation</text>
          <line x1="27" y1="34" x2="29.5" y2="34" stroke="gray" stroke-width="2.5"/>
      </svg>
      </div>
    </div>

      <!-- right bar chart -->
    <div class="w-[48vh] h-2/5 bg-white m-6 border-gray-300 rounded-xl">
      <p class="text-4xl font-semibold p-7 pb-10">Traffic source</p>
      <svg viewBox="25 0 10 40" width="400" height="350">
        <text x="10" y="5" fill="black"  font-size="1.5">Example.com</text>
        <line x1="20" y1="5" x2="40" y2="5" stroke="lightgray" stroke-width="0.6"/>
        <line x1="20" y1="5" x2="35" y2="5" stroke="darkblue" stroke-width="1"/>
        
        <text x="10" y="10" fill="black"  font-size="1.5">Example.com</text>
        <line x1="20" y1="10" x2="40" y2="10" stroke="lightgray" stroke-width="0.6"/>
        <line x1="20" y1="10" x2="25" y2="10" stroke="black" stroke-width="1"/>

        <text x="10" y="15" fill="black"  font-size="1.5">Example.com</text>
        <line x1="20" y1="15" x2="40" y2="15" stroke="lightgray" stroke-width="0.6"/>
        <line x1="20" y1="15" x2="30" y2="15" stroke="gray" stroke-width="1"/>

      </svg>
    </div>
  </div>
</div>

  