/* You can add global styles to this file, and also import other style files */
.navbar{
  background-color: rgb(34, 150, 165);
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:25px;

}

.navbar .left, .right{
    
   
    display: flex;
    list-style:none;
    align-items:center;
    justify-content: center;
    margin: 0px; 
    padding: 0 10px;
    
  }
  .navbar li a{
    margin-right: 8px;
    color: rgb(255, 255, 255);
  }
  
  
  
  
  
  .header{
    height:60px;
    border-bottom: solid 2px  rgb(34, 150, 165);
    margin: 0px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
   
  
  }
  .header .menu {
    display:flex;
    justify-content: end;
    align-items:center;
  }

  .header .connect {
    width: 80px;
    height:35px;
    background-color: rgb(88, 88, 88);
    border: solid 1px white;
    cursor: pointer;
    margin: 0px 15px 0px 15px;
    color: white;
   
    
  }
  .header .connect:hover{
    background-color: rgba(54, 54, 54, 0.678);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    transition: 1s;
  }
  .header .menu a {
  
    padding:20px;
    margin: 5px;
    border-right: 2px solid rgb(184, 184, 184);
    color:black;
    font-size: 14px;
    text-decoration: none;
  }
  .header .menu a:hover{
    background-color: rgba(149, 243, 255, 0.678);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    transition: 1s;
  }
  .header  i{
    font-size: 20px;
    padding: 5px;
    color: rgb(67, 67, 67);
    
  }
  
  